@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 스타일 */
body {width: 100%;
    margin: 0;font-family: 'S-CoreDream-3Light';}
*{padding:0; margin:0; color:#fff;}
a{text-decoration: none;    height: 100%; width: 100%; display: block;}
ul{list-style: none;}
button{border: none; background: transparent; cursor: pointer;}

.portfolio{background:#000;}

nav{position: fixed; width:100%; background:#aaa; z-index: 9; height: 40px;}
nav .inner{display: flex; justify-content:space-between; height:100%;}
.logo{width: 3.125rem; height: 3.125rem;}
.menu{display: flex; justify-content:space-around;width: 60%; align-items: center;font-size: 0.75rem;font-weight: bold;}
.menu li:hover{color:#000; cursor: pointer;}

/* cont1 */
.pf-cover{box-sizing: border-box; align-items: center; height:100vh;
display: flex;flex-flow: column;justify-content: center;padding:0 1.5rem;}
.cont .c1tit{font-size:2rem;}

.share{display:flex;justify-content:space-between;width: 30%; margin-top:1.25rem;}

.contact{display: none;}
.contact{position: absolute;bottom:1.5rem;right:1.5rem;}
.contact p{font-size:0.875rem; text-align: right;}



/* cont2 aboutme*/
.inner{padding:70px 30px;}
.cont-bx{margin-top: 40px;}

.pf-tit{position: relative;}
.pf-tit h2:after{content: ""; clear:both; display: block;border-top: 1px solid #fff;
    position: relative;top: -1.1rem;left:10rem; width: 12.5rem;}

.pfimg{display: flex;justify-content: center;align-items: center;
    flex-flow: column;}
.img img{width: 200px;border-radius: 10px;}

.pf-hastage{display: flex; }
.pf-hastage p{margin-right:5px;}
.pf-hastage p:last-child{margin-right:0px;}

.abm_cont_bx{margin-top:30px;}
.abm_cont{margin-top:30px;}
.abm_cont:first-child{margin-top:0px;}


/* 목차 */
.project .pj-txt{margin: 10px; cursor:pointer;}
.project .pj-txt p{font-size:14px;}


/* Career & education */
/* .ce_cont{background: #444;border-radius: 20px;padding: 24px; margin-top:20px;}
.ce_cont:first-child{margin-top:0;}

.ce_date{font-size: 14px;color: #ccc;}
.ce_tit{margin: 10px 0;}
.ce_tit .tit{font-size: 20px;font-weight: bold;}
.ce_tit .team{font-size: 13px;}

.ce_txt{margin: 20px 0;}
.ce_txt ul li{color:#ddd;} */

/* 유지보수 */
.mten-bx{margin-top: 20px; display:flex; flex-wrap: wrap;}
.mten-item{width: 100%; margin:10px 0;}
.mten-item img{width: 100%;height:auto;background: #eee; }
.mten-txt{}
.mten-txt p{font-size: 14px; color:#ddd;}

/* 태그 */
.tag-bx{display: flex;}
.tag-bx .tag{background: #aaa;border-radius: 30px;margin-right: 5px;padding: 3px 10px;font-size: 11px;}
.tag-bx .tag.mtent{background: #00681a;}
.tag-bx .tag.re{background: #001481;}

.pj-tag .tag{width: 120px; text-align: center; border-radius: 30px;margin-right: 5px;padding: 5px 15px;font-size: 14px;}
.pj-tag .tag.comtag{background:#001481;}
.pj-tag .tag.teamtag{background:#00681a;}
.pj-tag .tag.pertag{background:#5e0000;}


/* project */
.pj-cont{display: flex;justify-content: end; flex-flow: column;align-items: end;width: 50%;}
.project{display: flex;}
/* cont4 */
.cont4{height:100vh; justify-content: space-evenly;}


.compj{height:100vh; width: 100% !important; flex-flow: column;display: flex;justify-content: space-evenly; align-items: center;}
.compj01{background: url(/portfolio/img/pj-bg01.png) no-repeat;}
.compj03{background: url(/portfolio/img/pj-bg03.png) no-repeat;}
.compj04{background: url(/portfolio/img/pj-bg04.png) no-repeat;}
.compj05{background: url(/portfolio/img/pj-bg05.png) no-repeat;}

.compj-tit .tit{font-size: 50px;font-weight: bold;text-shadow: 5px 6px 1px rgba(0, 0, 0, 1.0);}
.pj-cdate{margin-top:10px;}
.compj-img{width:80%;}
.compj-img img{width:100%;}
.sitebtn{    margin-top: 30px;display: flex;}
.sitebtn a{width: 100px; background: #111;border-radius: 40px;padding: 5px 20px;font-size: 14px;margin-right: 15px;}


@media (min-width: 768px) {
    .contact{display: block;}

    /* .pj-inner{display: flex; justify-content: right;}
    .pj-cont{width: 30%;} */


    .compj{    flex-flow: row;}
    .compj-bx{display: flex;flex-flow: column;justify-content: center; height: 100%;}
.compj-img{width:40%;}
}

@media (min-width: 1024px) {
    .menu{display: flex; justify-content:space-around;width: 40%; align-items: center;}

    /* 공통 */
    .cont{height:100vh;}
    .cont-bx{display:flex;        justify-content: right;
        flex-wrap: wrap;}
    .inner{ max-width: 1440px; margin: 0 auto;height: calc(100% - 140px);}
    
    /* about me */
    .pfimg{width: 50%;}
    .img img{width: 300px;border-radius: 10px;}
    .abm_cont_bx{margin-top:0px; width: calc(50% - 120px); padding:0 60px}

    /* career */
    /* .ce-inner{display: flex;}
    .ce-inner .cont-tit{width: 50%;}
    .ce-inner .cont-bx{width: 50%; margin-top: 0;    height: 100%;
        overflow: hidden;}
    .ce-inner .ce_cont{width: 100%;} 
    .ed-cont-bx{padding-left:15px;}
    */

    .mten-item{width: calc(33.33% - 10px); margin-right:10px;}
    .mten-item.edu-item{display:flex;}
    .mten-item.edu-item img{width: 50%;}
    
    

}