*{margin: 0; padding: 0;}
/* font */
h4{font-size: 24px; font-weight: bold;}
p{font-size: 16px;}
.bfont{font-weight: bold; font-size: 18px;}
.date{font-size: 14px;}

/* icon */
.iconp{padding-left:16px;position: relative; font-size: 14px;}
.iconp:after {content: "";clear: both;display: block;
    background: #ddd;width: 16px;height: 16px;position: absolute;
    top: 2px;left: 0px;}
.loc:after{background: url(/popup/img/loc.png) no-repeat; background-size: cover;}

.center-tit-bx{text-align: center; margin: 0 auto;}

.main-list{margin: 50px 0;}

.container{margin: 0 auto; padding:0 20px;
    max-width: 1440px;}

/* header */
.gnb{display: flex;    justify-content: space-between;}
.logo{}
.lnb{display: flex;}
.lnb .menu{}
.lnb .login{}
.lnb .search{}
/* hot */
.hot-cont-bx{padding:30px 0; display: flex;}
.hot-cont-item{margin-right:29px; width:20%;}
.himg{border-radius:20px; width: 100%;height: 324px;background-color: #ccc;}
.hcont-txt{padding:10px 0;}

/* comming */
.com-cont-item{display: flex;border: 1px solid #ccc; border-radius: 10px;
    /*width: calc(33.33% - 20px) !important;*/}
.cimg{    width: 150px; background: #ddd; border-radius: 10px 0 0 10px;}
.com-cont-txt{padding:20px; width: calc(100% - 150px);}
.d-day{text-align: right;color: #f00;font-weight: bold;}
.com-cont-txt .bfont{margin-top: 40px;font-size: 16px;}

.com-cont-Swiper .swiper-wrapper {
    display: flex;
    flex-wrap: wrap; /* 여러 줄로 배치 */}
.com-cont-Swiper .swiper-slide {
    width: 50%; /* 2열 배치 (한 행에 2개) */
    box-sizing: border-box;
    padding: 10px;
}
.com-cont-Swiper .hot-cont-bx{flex-direction: row !important;}
/*region*/
.region-list{justify-content: center; display: flex; flex-wrap: wrap;margin-top: 10px;}
.reg-item{
    background-color: #eee;    width: 55px; margin-top:10px;
    border-radius: 30px;
    padding: 7px 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;}

.rcont-txt{padding:10px 0; text-align: center;}