*{margin: 0; padding: 0;}
/* font */
h4{font-size: 24px; font-weight: bold;}
p{font-size: 16px;}
.bfont{font-weight: bold; font-size: 18px;}
.iconp{padding-left:20px;position: relative;}
.iloc:after {content: "";clear: both;display: block;
    background: #ddd;width: 18px;height: 18px;position: absolute;
    top: 4px;left: 54px;}

.center-tit-bx{text-align: center; margin: 0 auto;}

.main-list{margin: 50px 0;}

.container{margin: 0 auto;
    max-width: 1440px;
    min-width: 360px;}
/* hot */
.hot-cont-bx{padding:30px 0; display: flex;}
.hot-cont-item{margin-right:29px; width:20%;}
.himg{border-radius:20px; width: 100%;height: 324px;background-color: #ccc;}
.hcont-txt{padding:10px 0;}

/* comming */
.com-cont-item{display: flex;border: 1px solid #ccc; border-radius: 10px;width: calc(100% / 4 - 20px);margin-right: 20px;}
.cimg{    width: 100px; height: 100%; background: #ddd; border-radius: 10px 0 0 10px;}
.com-cont-txt{padding:10px 20px; width: calc(100% - 100px);}
.d-day{text-align: right;color: #f00;font-weight: bold;}
.com-cont-txt .bfont{margin-top: 40px;font-size: 16px;}

/*region*/
.region-list{width: 80%; display: flex; margin: 20px auto;}
.reg-item{width: calc(100% / 11);
    background-color: #eee;
    border-radius: 30px;
    padding: 7px 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;}

.rcont-txt{padding:10px 0; text-align: center;}