.sub-main-wrap{ display: flex; flex-wrap: wrap;}
.sub-img{width: 100%;height: 500px;background: #ddd;}

.sub-cont-bx{width: 100%;margin-top: 20px;}

.hastag-bx{display:flex; flex-wrap: wrap;}
.hastag-bx p{font-size: 14px;}

.info_loc_bx{    margin-top: 30px;padding-top: 30px;border-top: 1px solid #ccc;}
.info{margin:20px 0;}