

/* 기본 스타일 */
.portfolio{background:#1C1B21;width: 100%;}
.inner{padding:70px 30px;}
.waves-bx{width: 100%;}

/* loading */
.sloading_bx {width: 100%;height: 100vh; background-color: #000; position: fixed; overflow: hidden;
  display: flex;flex-flow: column;justify-content: center; align-items: center;z-index: 999;}



.load-stit {color: #fff;font-size: 17px; animation: popUp 1.2s ease-out forwards, shrinkMove 0.3s ease-in forwards,
  fadeOut 0.5s ease-in forwards;animation-delay: 0s, 1.8s, 3.2s;opacity: 0;}
.load-tit {color: #fff;font-size: 20px;opacity: 0;animation: fadeInUp 0.3s ease-out forwards,
fadeOut 0.5s ease-in forwards;animation-delay: 1.8s, 3.2s;}
/* name 등장 */
.name {color: #fff;font-size: 2rem;opacity: 0; position: absolute;animation: fadeIn 0.6s ease-out forwards;
animation-delay: 3.8s;}
.sloading_bx.fade-out {animation: vanish 2s ease forwards;}
.start-main {opacity: 0;transition: opacity 2s ease;pointer-events: none;}
/* title */
.pf01{display: flex;justify-content: center;
  align-items: center;height: calc(100vh - 140px);}
.main-bx {text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(16,16,16,1) 100%);
}
.main {display: flex;justify-content: center;align-items: center;text-align: center;}
.waves {position:relative;width: 100%;height:15vh;margin-bottom:-7px; min-height:100px;max-height:150px;}

.stit{font-size:20px;text-align: center;width: 100%;line-height: 35px;}

.Title-mask {display: block;position: relative;text-align: start;overflow: hidden;}
.Title-line {display: inline-block;opacity: 0;transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards;}

.astyle { font-family: 'FlightSans-Title';color: #FB4264;text-shadow: 0 0 3px #F40A35;animation: astyle 1s ease infinite;}
.qstyle {font-family: 'FlightSans-Title';color: #1C1B21;text-shadow: 0 0 3px #1C1B21;animation: qstyle 2s linear infinite;}

.Title-mask:nth-child(1) .Title-line { animation-delay: 400ms; }
.Title-mask:nth-child(2) .Title-line { animation-delay: 800ms; }
.Title-mask:nth-child(3) .Title-line { animation-delay: 1200ms; }


/* cont2 aboutme*/
.pf02-bx{height: 100vh;display: flex; flex-flow: column; justify-content: center; align-items: center;}
.pf02-bx h2{font-size: 14px;}

.pf-hastage{display: flex; margin-top:10px;}
.pf-hastage p{margin-right:5px;}
.pf-hastage p:last-child{margin-right:0px;}

.abm_cont_bx{border-top:1px solid #eee; border-bottom:1px solid #eee; padding:20px 0; margin:20px 0;}
.abm_cont h3{font-size:35px; color:#7157F9;}
.abm_cont .txt{margin-top:30px;}
.abm_cont .txt p{margin-top:10px; font-size: 14px;}

.abm-q{margin-top:30px; font-size:20px;}

/* project */
.compj{height:100vh; width: 100%; flex-flow: column;display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: center;}
.compj-bx {
  width: calc(100% - 30px);
}

.pj-tit{text-align: center;font-size: 50px;font-weight: bold;text-shadow: 5px 6px 1px rgba(0, 0, 0, 1.0);}

.compj01{background: url(../img/pj-bg01.png) no-repeat; background-attachment:fixed;}
.compj02{background: url(../img/pj-bg02.png) no-repeat; background-attachment:fixed;}
.compj03{background: url(../img/pj-bg03.png) no-repeat; background-attachment:fixed;background-position: center;}
.compj04{background: url(../img/pj-bg04.png) no-repeat; background-attachment:fixed;}
.compj05{background: url(../img/pj-bg05.png) no-repeat; background-attachment:fixed;}

.pj-tag{margin: 0 auto; width: 190px;text-align: center; border-radius: 30px;padding: 5px 0px;font-size: 14px;}
.pj-tag.pj-tag01{background:#28a7e1;}
.pj-tag.pj-tag02{background:#00681a;}
.pj-tag.pj-tag03{background:#5e0000;}

.pj-cont{margin-top:10px;}
.pj-cont p{font-size:14px; text-align: center;word-break: keep-all;
  overflow-wrap: break-word;width: 100%;
  white-space: normal;}
.pj-cont span{font-weight:bold; margin-right:10px;}
.pj-cont .txt{ margin-top:10px;width: 100%;}

.sitebtn{margin-top: 30px;display: flex;    justify-content: center;}
.sitebtn a{transition: background-color 0.3s ease-in-out;
  position: relative; width: 83px; background: #fff;border-radius: 40px;padding: 0 20px;font-size: 14px;margin-right: 15px;line-height: 28px;color:#111;}
.sitebtn a::after{content: ""; clear: both; display: block;position: absolute; top:2px; right:13px; width: 10px;height: 20px; background:url("../img/arrow.png")}
.sitebtn a:hover{ background: #7157F9; color:#fff;}
.sitebtn a:hover::after{content: ""; clear: both; display: block;background:url("../img/arrow-h.png")}

.compj-img{width:60%;}
.compj-img img{width:100%;}
/* 개인 pten-item */
.pten-item{display: flex; padding:50px 0;}
.pten-item.right .pj-cont p{text-align: right;}
.pten-item .compj-img, .pten-item .pj-cont{width: 50%;display: flex;flex-flow: column;justify-content: center;align-items: end;}
.pten-item .pj-cont span {font-size: 18px;}
/* 유지보수 */
.mten-bx{margin-top: 30px; display:flex; flex-wrap: wrap;}
.mten-item{width: 100%; margin:10px; position: relative;background: rgb(139 139 139 / 50%);padding: 20px;border-radius: 10px;}
.mten-item .compj-img{width:100%;}
.sub-mten-bx .mten-item{box-shadow:0px 0px 5px 1px rgba(255, 255, 255, 0.2)}

.mten-item img{width: 100%;height:auto;/*background: #eee;*/ }
.mten-img{position: relative;}
.mten-img:after {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 97.5%;background: rgba(0, 0, 0, 0.8);opacity: 0;transition: opacity 0.5s ease-in-out;}
.mten-item:hover .mten-img:after { opacity: 1;}

.mten-site{opacity: 0;transition: opacity 0.5s ease-in-out; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
border-radius: 40px;background: #7157F9;padding: 5px 25px;font-size: 12px; z-index: 9;}
.mten-item:hover .mten-site{ opacity: 1;}
.mten-txt{margin-top: 15px;}
.mten-txt p{font-size: 14px; color:#ddd;}

  /* 태그 */
  .tag-bx{display: flex; margin-bottom: 5px;}
  .tag-bx .tag{background: #aaa;border-radius: 30px;margin-right: 5px;padding: 3px 10px;font-size: 11px;}
  .tag-bx .tag.mtent{background: #00681a;}
  .tag-bx .tag.re{background: #001481;}
  .tag-bx .tag.pr{background: #28a7e1;}

/* cont4 */
.lastpg-bx{    text-align: left;
  margin-left: 80px;}
.pf-end-bx{height: 100vh; position: relative;}
.pf-end-bx .waves{transform: rotateX(180deg);}

.pf-end-bx .main{height: calc(100vh - 182px);}
.pf-end{position: relative; flex-flow: column;justify-content: center;display: flex;width: 100%;align-items: center;}

.pf-end-bx .contact{    text-align: right;position: absolute;right: 40px;bottom: 50px;}
@media (min-width: 768px) {
  .stit{font-size:30px;line-height: 50px;}

  .compj-bx{display: flex;flex-flow: column;justify-content: center;}
 
  .mten-item{width: calc(50% - 60px);}
}

@media (min-width: 1024px) {

    /* 공통 */
    .inner{max-width: 1440px; margin: 0 auto;}

    .pj-tag{margin: inherit;}
    .pj-tit{text-align: left;}
    .pj-cont p{text-align: left;}
  
    .compj{height:100vh; flex-flow: row;}
    .compj-bx{width: 30%;}
    .compj-img{width:30%;}
.sitebtn{justify-content: left;}


    .mten-item{width: calc(33.33% - 60px);}
    .mten-site{font-size: 14px;}
    .mten-item.edu-item{display:flex;}
    .mten-item.edu-item img{width: 50%;}
    
    

}